<template class="Footer2">
<footer class="text-center">
        <a class="up-arrow" href="#" data-toggle="tooltip" title="Sivun alkuun">
         <span class="glyphicon glyphicon-chevron-up"></span>
        </a><br>
        <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h6>Copyright &copy; 2016 Pukkipalvelu inc.</h6>
                <h6>Oikeudet muutoksiin pidätetään</h6>
            </div>
            <div class="col-sm-4">
                <h6></h6>
                <ul class="unstyled">
                    <li><a href="#">Yritys</a></li>
                    <li><a href="#">Ajankohtaista</a></li>
                    <li><a href="#">Ota yhteyttä</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <h6>Seuraa meitä</h6>
                <ul>
                <li><a href="#" class="btn btn-facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="btn btn-twitter">><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="btn btn-instagram"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>            
        </div>
        </div>    
</footer> 
</template>        
