<template name="Footer2">
    <footer>
        <div class="container text-center"> 	
            <a class="up-arrow" href="#" data-toggle="tooltip" title="Sivun alkuun">
                <span class="glyphicon glyphicon-chevron-up"></span>
            </a><br>
        </div>

        <div class="container text-center bg-gray">
            <div class="row">
                <div class="col-sm-4">
                    <h6>Linkit</h6>
                    <ul class="list-unstyled">
                        <li><a href="/pukiksi">Pukiksi</a></li>
                        <li><a href="/yritys">Yritys</a></li>
                        <li><a href="/tietoa">Tietoa</a></li>
                        <li><a href="/ota-yhteytta">Ota yhteyttä</a></li>
                    </ul>	
                </div>
                <div class="col-sm-4">
                    <h6>Liity postituslistalle</h6>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email">
                                <button class="btn" type="button">Lähetä</button>
                            </div>
                        </li>			
                    </ul>
                </div>

                <div class="col-sm-4">
                    <h6>Seuraa meitä</h6>
                    <ul class="social-circle list-unstyled">
                        <li><a href="#" class="icoFacebook" title="facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="google"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" class="icoInstagram" title="instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#" class="icoLinkedin" title="linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>            
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <p class="pull-left">Copyright &copy; 2016 Pukkipalvelu inc.</p>
                <div class="pull-right">
                    <ul class="nav nav-pills payments">
                        <li><i class="fa fa-cc-visa"></i></li>
                        <li><i class="fa fa-cc-mastercard"></i></li>
                        <li><i class="fa fa-cc-paypal"></i></li>
                    </ul>
                </div>
            </div>
        </div>                
    </footer> 
</template>        
