<template name="Pukiksi">
    <h1>PUKIKSI</h1>

    <p>Yada yada teksti</p>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <h4 class="page-header">Lähde mukaan!</h4>
            <form id="signup" class="signup">
                <div class="form-group">
                    <label for="etuNimi">Etunimi</label>
                    <input type="text" name="etuNimi" class="form-control" placeholder="Etunimi">
                </div>
                <div class="form-group">
                    <label for="sukuNimi">Sukunimi</label>
                    <input type="text" name="etuNimi" class="form-control" placeholder="Sukunimi">
                </div>
                <div class="form-group">
                    <label for="emailAddress">Email Address</label>
                    <input type="email" name="emailAddress" class="form-control" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Sign Up">
                </div>
            </form>
        </div>
    </div>
</template>
