<template name="OmaSivu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <h1>Hei taas {{omaprofiili.profile.name}}!</h1>
                </div>
                <div class="map-container">
                    {{> googleMap name="exampleMap" options=exampleMapOptions}}
                </div>

                {{#if editMode}}
                {{> quickForm collection='Meteor.users' template="bootstrap3-horizontal" label-class="col-sm-2" input-col-class="col-sm-10" id="profiiliForm" type="update" doc=user fields="profile.kielitaito, profile.kuvaus, profile.automaatio, profile.kulkuvaline, profile.hinta" }}
                {{/if}}
            </div>
            <div class="col-md-6">
                <div>
                    <h1>Yleiset tiedot</h1>
                    <p>Profiili: Aktiivinen</p>
                </div>
                <div>
                    <h1>Saadut keikat</h1>
                    <p>Sinulla on z tilausta</p>
                    <p>(f) uutta</p>
                </div>
                <div>
                    <h1>Statistiikkaa, sivun katselut ym</h1>
                    <p>Sivuasi katsottu tänään: x kertaa</p>
                    <p>Sivua katsottu kaikkiaan y kertaa</p>
                </div>
                <div>
                    <button class="btn btn-secondary">Jaa sivu</button>
                </div>
            </div>
        </div>
    </div>
</template>
