<template name="OmaSivu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <h1>Hei taas {{omaprofiili.profile.name}}!</h1>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Ilmoitukset
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class='input-group datetimepicker' id='datetimepicker3'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-time"></i>
                                </span>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Jouluaatto
                                </h3>
                                <span class="pull-right clickable" id="toggle-jouluaatto" data-toggle="collapse" data-target="#collapse1">
                                    {{#unless toggleJouluaatto}}
                                    <i class="glyphicon glyphicon-plus"></i>
                                    {{else}}
                                    <i class="glyphicon glyphicon-minus"></i>
                                    {{/unless}}
                                </span>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                    <div class="map-container">
                                        {{> googleMap name="jouluaattoMap" options=aattoMapOptions}}
                                    </div>
                                    {{> quickForm collection='Meteor.users' id="jouluaaatto" type="update" doc=omaprofiili fields="profile.ilmoitukset.jouluaatto.aloitusaika,profile.ilmoitukset.jouluaatto.lopetusaika,profile.ilmoitukset.jouluaatto.kulkuvaline,profile.ilmoitukset.jouluaatto.hintaVartti" }}
                            </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Joulupäivä
                                </h3>
                                <span class="pull-right clickable" id="toggle-joulupaiva" data-toggle="collapse" data-target="#collapse2">
                                    {{#unless toggleJoulupaiva}}
                                    <i class="glyphicon glyphicon-plus"></i>
                                    {{else}}
                                    <i class="glyphicon glyphicon-minus"></i>
                                    {{/unless}}
                                </span>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse in">
                            <div class="panel-body">
                                    <div class="map-container">
                                        {{> googleMap name="exampleMap" options=exampleMapOptions}}
                                    </div>
                                    {{> quickForm collection='Meteor.users' id="joulupaaiva" type="update" doc=omaprofiili fields="profile.ilmoitukset.joulupaiva.aloitusaika,profile.ilmoitukset.joulupaiva.lopetusaika,profile.ilmoitukset.joulupaiva.kulkuvaline,profile.ilmoitukset.joulupaiva.hintaVartti" }}
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Yleiset tiedot
                        </h3>
                    </div>
                    <div class="panel-body">
                        Ilmoitus: Aktiivinen
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Saadut keikat
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>Sinulla on z tilaus</p>
                        <p>(f) uutta</p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            Statistiikka
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>Sivuasi on katsottu tänään x kertaa</p>
                        <p>Yhteensä y kertaa tällä viikolla</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
